.btn{
    background-color: #3498DB;
    color: white;
}
.style-vector h2{
    margin-left: 10%;
    margin-top: -10%;
}
.section-founder{
    margin-top: -1px;
}
.founder-container{
    background:  #3498DB33;
}
.peopleperTask-idea .row{
    flex-wrap: nowrap;
}
/* .peopleperTask-idea{
    background-image: url('../images/Frame\ 269.svg');
    background-size: cover;
    width: 100%;
} */

/* Styles for dark mode */
.dark-mode {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color for better readability */
}

/* Modify specific elements for dark mode */
.dark-mode a {
    color: #ffffff; /* Links color in dark mode */
}

/* Footer section styles for dark mode */
.dark-mode .cta-text span {
    color: #ffffff;
}
.dark-mode .footer-section p {
    color: #ffffff; /* Dark text color for better readability */
}
.dark-mode .footer-section ul li a{
    color: #ffffff;
}

/* End of dark mode styles */

  
  /* contact page */
  .video-container{
    width: 50%;
  }

@media screen and (max-width : 992px) {
    #dark-mode-toggle.fas.fa-moon.ps-3{
        padding-top: 20px;
        padding-left: 0px !important;
    }
}