.slider-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .slider {
    display: flex;
    transition: all 0.5s;
  }
  .slide {
    min-width: 100%;
  }
  .gallery-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .thumbnail {
    /* width: 100px;
    height: 60px; */
    /* margin: 0 5px; */
    cursor: pointer;
  }